
.products{
display: grid;
grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
gap: 50px;



}

.App{
  margin-top: 50px;
text-align: center;
width: 90%;
margin: auto;
}


.productComponentn img{
  width: 100%;
  height: 350px;
}

.ProductFetch img{
  width: 100%;
  height: 350px;
}